body{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    font-size: 30px;
}

section{
    margin-left: 40%;
}

.documento{
    font-size: 20px;
}

input {
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 0 4px 0 4px;
}

input.texto_documento{
    width: 400px;
    height: 38px;
    font-size: 17px;
}

input.texto{
    font-size: 20px;
}

input.enviar{
    background-color: rgb(255, 102, 0);
    color: white;
    width: 405px;
    height: 35px;
    font-size: 17px;
    border-color: white;
}

